@model Photo
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <div class="text">
        <h1>Portrait Box Image Converter</h1>
    </div>

    <div class="mainimage">
        <img id="demofadingimage" src="~/images/1796ca2c-e9b5-4440-8b87-57dd8fa811fa.jpg" width="200">
    </div>
    <div class="btn">
        <button type="button" onclick="location.href='@Url.Action("Index", "Photo")'"> Start Upload</button>

    </div>
        
</body>
</html>
