@model Photo
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>
    <div class="text">
        <h1>Image Converter</h1>
    </div>

    <div>
            <form method="post" enctype="multipart/form-data" asp-controler="PhotoController" asp-action="UploadImage">
                <input asp-for="PhotoID" type="hidden" />
                <div class="form-row">
                    <div class="col">
                        <input asp-for="UploadPhoto" class="form-control" name="files" type="file" />
                    </div>
                    <div class="col">
                        <div class="upbtn">
                            <input asp-for="UploadPhoto" class="btn" type="submit" value="Upload" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="parent">
            <img class="photo" src="~/images/1125a7ef-c25b-4a5a-ad7b-78e60ab2ddf2.jpg" />
            <img class="photo" src="~/images/invert.png" />
        </div>

        <div>
            <button class="btn"><i class="fa fa-download"></i> Download</button>
        </div>
</body>
</html>

