@model Photo
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <div class="text">
        <h1>Photo Converter</h1>
    </div>

    <div class="row">
        <form method="post" enctype="multipart/form-data" asp-controler="PhotoController" asp-action="UploadImage">
            <input asp-for="PhotoID" type="hidden" />
            <div class="upload-form">
                <div class="col-md-10">
                    <input asp-for="UploadPhoto" class="form-control" name="files" type="file" />
                </div>
            </div>
            <div class="upload-form">
                <input asp-for="UploadPhoto" class="btn" type="submit" value="Upload" />
            </div>
            <img id="myImage" src="@Model.UploadPhoto" width="50">
        </form>
        <br />
        <input method="post" asp-controller="PhotoController" asp-action="ConvertImage" asp-for="UploadPhoto" class="btn" type="submit" value="Convert Image" />
        <br />
        <img id="myImage" src="//:0">
        <div>
            <button class="btn"><i class="fa fa-download"></i> Download</button>
        </div>

    </div>
</body>
</html>

